.header {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
}

.prieto {
    max-width: 175px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.título {
    justify-content: right;
    display: flex;
    margin: 15px;
    color: white;
}

